/*$first: #4705FB !default;
$second: #4000ee !default;*/

/*$first: #ba5536 !default;
$second: #a43820 !default;*/

$first: #6eb5c0 !default;
$second: #006c84 !default;

/*$first: #004445 !default;
$second: #2c7873 !default;*/

/*$first: #ee693f !default;
$second: #f69454 !default;*/
